:root {
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: raleway, sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --gray-txt-cl: #757575;
  --white-txt-cl: #ffffff;

  /* Backgrounds colors */
  --main-bg-cl: #2f303a;
  --hader-bg-cl: #ffffff;

  /* Others */
}

/* body */

.page {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.header {
  background-color: var(--hader-bg-cl);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-container {
  width: 1200px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
  border-bottom: 1px solid #ececec;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  justify-content: flex-start;
  margin-right: 93px;
}
.logo-header {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}

.main-nav {
  margin-right: auto;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav-list-item {
}

.nav-list,
.contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  margin-right: 50px;
  padding: 0;
}

.nav-link,
.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-cl);
}

.nav-link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.contacts-list {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
}

.contacts-list-item {
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--gray-txt-cl);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-txt-cl);
}

/* main */

.hat {
  background-color: var(--main-bg-cl);
  width: 1200px;
  height: 600px;
}

.container-content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-right: 15px;
  padding-bottom: 94px;
  padding-left: 15px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
  display: flex;
}

.container-hat {
  width: 1200px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}

.hat-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
  margin: 0;
  padding-top: 200px;
  padding-right: 252px;
  padding-bottom: 30px;
  padding-left: 252px;
}

.hat-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);
  background-color: var(--accent-txt-cl);
  cursor: pointer;
  margin-left: 492px;
  margin-right: 492px;
  margin-bottom: 200px;
}

.characteristic {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.characteristic-title {
  display: none;
}

.characteristic-list {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 30px;
}

.characteristic-list-item {
}

.characteristic-undertitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

.characteristic-subtitle {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
  margin-top: 10px;
}

.work {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

.work-list-item {
}

.work-jpg {
}

.team {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.team-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
}

.team-list-item {
  background-color: #ffffff;
}

.team-jpg {
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.team-position {
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

/* footer */

.footer {
  background-color: var(--main-bg-cl);
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  width: 1200px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.logo-footer-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-txt-cl);
}

address {
  font-style: normal;
}

.address-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.address-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-txt-cl);
  text-decoration: none;
}

.contacts-footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio */

.container-portfolio {
  width: 1200px;
  display: flex;
  /* outline: 1px solid red; */
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.nav-portfolio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.portfolio {
}

.list-btn {
  list-style: none;
  display: flex;
  margin-bottom: 50px;
  margin-left: 312px;
}

.list-btn-item {
  margin-right: 8px;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--accent-txt-cl);
}

.portfolio-list {
  width: 1200px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-item {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-img {
}

.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.portfolio-product {
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 20px;
}
