:root {
  /* Fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: raleway, sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --gray-txt-cl: #757575;
  --white-txt-cl: #ffffff;

  /* Backgrounds colors */
  --main-bg-cl: #2f303a;
  --hader-bg-cl: #ffffff;

  /* Others */
}

/* body */

.page {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.header {
  background-color: var(--hader-bg-cl);
 
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}



.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-top: 24px;
  margin-right: 94px;
  margin-bottom: 25px;
  margin-left: 215px;
 
}
.logo-header {
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}

.main-nav {
  margin-right: auto;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
  lign-items: center;
}
.nav-list-item {

}

.nav-list,
.contacts-list {

}


.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-txt-cl);
}

.nav-link,
.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.nav-link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.contacts-list {
  list-style: none;
  display: flex;
  gap: 50px;
align-items: center;
  margin-right: 215px;
}

.contacts-list-item {
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--gray-txt-cl);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-txt-cl);
}

/* main */

.hat {
  background-color: var(--main-bg-cl);
}

.hat-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-txt-cl);
  margin-top: 200px;
  margin-right: 452px;
  margin-left: 452px;
}

.hat-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);
  background-color: var(--accent-txt-cl);
  cursor: pointer;
  margin-top: 30px;
  margin-right: 692px;
  margin-bottom: 200px;
  margin-left: 692px;
}

.container-hat {
 
  
}

.characteristic {
width: 1170px;
margin-left: auto;
margin-right: auto;

}

.characteristic-title {
  display: none;
}

.characteristic-list {
  list-style: none;
  display: flex;
}

.characteristic-list-item {
}

.characteristic-undertitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.characteristic-subtitle {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
}

.work {
  margin-left: auto;
  margin-right: auto;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.work-list-item {
}

.work-jpg {
}

.team {
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  list-style: none;
  display: flex;
  gap: 30px;
  

}

.team-list-item {
  background-color: #ffffff;
}

.team-jpg {
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--gray-txt-cl);
}

/* footer */

.footer {
  background-color: var(--main-bg-cl);
  width: 1600px;
  height: 252px;
 margin-left: auto;
 margin-right: auto;
}

.footer-container {
  display: block;
  width: 1600px;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;

}

.logo-footer-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white-txt-cl);
}


address {
  font-style: normal;
  
}

.address-list {
  list-style: none;
  padding-left: 0;
  margin: 0;


}



.address-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white-txt-cl);
  text-decoration: none;
}

.contacts-footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}























/* portfolio */


.container-portfolio {
  width: 1200px;
  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
   

}

.nav-portfolio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
}

.portfolio {
}

.list-btn {
  list-style: none;
  display: flex;
  outline: 1px solid blue ;
  margin-top: 94px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 512px;
  
}

.list-btn-item {
}

.btn {
  font-family: inherit;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--accent-txt-cl);
}

.portfolio-list {
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 1px solid tomato;
  display: flex;
  
  
}

.portfolio-list-item {
  

}

.portfolio-img {
}

.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

}

.portfolio-product {
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-txt-cl);
}
